<div class="card">
  <div class="card-block">
  		<div class="row no-gutters">
			<div class="col-md-2">
		  	     <%= image_tag gravatar_url("you@youremail.com", 64), alt: "" %>
		  	 </div>
		  	 <div class="col-md-10">
				<h4 class="card-title"><strong><%= comment.author_name %></strong> commented</h4>
				<p class="card-text comment"><%= comment.body %></p>
				<p class="card-text text-left"><small class="text-muted">
					<%= link_to comment.media, :target => '_blank', :rel => 'nofollow' %> </small></p>
				<hr/>
				<div class="row no-gutters">
					<div class="col-md-8">
						<%# if comment.commentable_type %>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#replyModal<%= comment.id %>">
							 <i class="fa fa-share"></i> Reply
							</button>
							<a class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapse<%= comment.id %>" aria-expanded="false" aria-controls="collapseExample">
							   <i class="fa fa-comments"></i> <%= comment.comments.count.to_s + ' Replies' %>
							</a>
						<%# end %>
					</div>
					<div class="col-md-4">
					  <p class="card-text text-right"><small class="text-muted">
					    Posted <%= time_ago_in_words(comment.created_at) %> ago
					  </small></p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="replyModal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	      <div class="modal-body">
	        <%= simple_form_for [comment, Comment.new] do |f| %>
	        <%= f.input :author_name, :as => :hidden, :input_html=>{:value=> current_user.name } if user_signed_in? %>
	        
		      <%= f.input :body, :label=> 'Your Comment', placeholder: "Add a Reply", :class=>'form-control' %><br/>
	      
	      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="collapse" id="collapse<%= comment.id %>">
  <div class="card card-block">
    <%= render partial: 'articles/comment', collection: comment.comments %>
  </div>
</div>