<div class="card">
  <div class="card-block">
	  <h4 class="card-title"><%= comment.author_name %> commented</h4>
	  <p class="card-text comment"><%= comment.body %></p>
		<%# if comment.commentable_type %>
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#replyModal<%= comment.id %>">
			 <i class="fa fa-share"></i> Reply
			</button>
			<a class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapse<%= comment.id %>" aria-expanded="false" aria-controls="collapseExample">
			   <i class="fa fa-comments"></i> <%= comment.comments.count.to_s + ' Replies' %>
			</a>
		<%# end %>
	  <p class="card-text text-right"><small class="text-muted">
	    Posted <%= time_ago_in_words(comment.created_at) %> ago
	  </small></p>
	

	
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="replyModal<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	      <div class="modal-body">
	        <%= simple_form_for [comment, Comment.new] do |f| %>
	        <div class="form-group">
		      <%= f.input :body, :label=> 'Your Comment', placeholder: "Add a Reply", :class=>'form-control' %><br/>
	      	</div>
	      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit :class=>"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="collapse" id="collapse<%= comment.id %>">
  <div class="card card-block">
    <%= render partial: 'articles/comment', collection: comment.comments %>
  </div>
</div>