<%= simple_form_for(@article, :html => {:multipart => true}) do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  
    <%= f.input :title, :class=> 'form-control' %>
  
    <%= f.input :body, as: :ckeditor %>
  
    <%= f.association :category, 
      label_method: :name, 
      value_method: :id, 
      selected: @article.category ? @article.category.id : Category.root.id,
      :class=>"form-control" 
    %>

    <%= f.input :image %>
  
    <%= f.input :status, 
        collection: status_options,
        selected: 'Draft', 
        input_html: { class: 'chosen-select form-control' }  
        %>

  
    <%= f.input :published_at, :class=> 'form-control', :input_html => { :value => Date.current.in_time_zone  }%>

  
    <%= f.input :visibility, 
        collection: visibility_options,
        selected: 'Public', 
        input_html: { class: 'chosen-select form-control' }  
        %>

  <%= f.input :user_id, :as => :hidden, :input_html=>{:value=> current_user.id} if user_signed_in? %>

  
    <%= f.input :tag_list, :class=>"form-control", :input_html => {:id=>'tags', :value=> @article.tag_list.to_s},  label:  'Tags', :hint=>'(separated by commas)' %>
  
    <%= f.submit :class=>'btn btn-default btn-large btn-block' %>
<% end %>