<div class="row">
	<div class="col-md-8 offset-md-2 col-xs-12">
		<% breadcrumb :pages, @pages, :style => :bootstrap %>
		<h1 class="text-center"><%= site_title %>  Pages</h1>

		
		<div class="list-group items-list">
		  <% @pages.each do |page| %>
		      <%= link_to(page_path(page), :class=>'list-group-item list-group-item-action lead') do %>
		      	<i class="fa fa-file-text-o"></i>  <%= page.title %><br/>
		      <% end %>
		  <% end %>
		</div>



		<%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
		<% if user_signed_in? %>
			<% if can? :create, @page %>
				<p class="text-center"><%= link_to "Create a new page", new_page_path, :class=>'btn btn-primary' %></p>
			<% end %>
		<% end %>
	</div>
</div>
