<% provide(:page_title, 'Thurman CMS') %>
<div class="intro row no-gutters">
	<div class="col-md-8">
		<p class="lead">
			About this Project
		</p>
		<p>
			Thurman is a starter blogging app built on Ruby on Rails.  The goal of Thurman is to get new projects started faster by implementing some basic features and functionality that are commonly used to publish and promote articles.
		</p>
	</div>
	<div class="col-md-4">
		<%= image_tag('write.jpg', :class=>'img-fluid') %><br/>
	</div>
</div>


<div class="bio row no-gutters">
	<div class="col-md-3">
		<%= image_tag('thurman-clean.jpg', :class=>'img-fluid') %><br/>
		<small><a href="http://blackkudos.tumblr.com/page/113">Black Kudos</a></small>
	</div>
	<div class="col-md-9">

		<blockquote>" We are mere journeymen, planting seeds for someone else to " - Wallace Henry Thurman</blockquote>
		<p class="lead">Who was Wallace Henry Thurman?</p>
		
		<p>Wallace Henry Thurman was born in Salt Lake City, Utah, on August 16, 1902. After breaking into the journalism business in Los Angeles, California, Thurman relocated to New York City and became an active participant in the Harlem Renaissance. He edited and wrote plays, opinion pieces and several novels, including The Blacker the Berry: A Novel of Negro Life (1929). Thurman died in New York City on December 22, 1934. This project was named after Wallace Henry Thurman</p>
		<p class="text-center">
			<%= link_to 'Read more about Wallace Thurman', page_path(1), :class=>"btn btn-primary" %>
		</p>
	</div>
</div>

<div class="features row no-gutters">
	<div class="col-md-6 offset-md-3 text-center">
		<p class="lead">
			Features
		</p>
		<ul class="list-group">
			<li class="list-group-item big">Scheduled posts</li>
			<li class="list-group-item big">Commenting system</li>
			<li class="list-group-item big">Multi-level categories</li>
			<li class="list-group-item big">Tagging</li>
			<li class="list-group-item big">Dynamic pages</li>
			<li class="list-group-item big">Archive page</li>
			<li class="list-group-item big">Author page</li>
			<li class="list-group-item big">Multiple authors</li>
			<li class="list-group-item big">Authentication and authorization</li>
			<li class="list-group-item big">Social sharing</li>
			<li class="list-group-item big">Autosuggestions</li>
			<li class="list-group-item big">S3 media uploads</li>
			<li class="list-group-item big">Breadcrumbs</li>
			<li class="list-group-item big">View Tracking</li>
			<li class="list-group-item big">Friendly urls</li>
			<li class="list-group-item big">Editor
	</div>
</div>

<div class="source row no-gutters">
	<div class="col-md-8">
		<p class="lead">
			Get the source
		</p>
		<p>
			<pre>https://github.com/dmmltech/thurman</pre>
		</p>
	</div>
	<div class="col-md-4 text-center">
		<%= link_to 'https://github.com/dmmltech/thurman' do %>
			<i class="fa fa-github fa-5x"></i>
		<% end %>
	</div>
</div>
<div class="container">
<div class="info row ">
	<div class="col-md-6">
		<p class="lead">
			Get Project Updates
		</p>
		<p>
			<small>Subscribe for Ruby on Rails hints and tips.</small>
		</p>
		<%= render partial: 'contacts/form' %>
	</div>
	<div class="col-md-6">
		<p class="lead">
			Development Blog
		</p>
			<small>Get insights from the Thurman dev team.</small>
		<ul>
			<li>Rails tips</li>
			<li>Javascript tips</li>
			<li>Learn dev techniques</li>
		</ul>
		<p>
			<%= link_to 'Read blog posts', articles_path, :class=>'btn btn-block btn-primary' %>
		</p>
	</div>
</div>
</div>