<% provide(:page_title, 'Tag Home') %>

<div class="row">
	<div class="col-md-8 offset-md-2 col-xs-12">
		<% breadcrumb :tags, @tags %>
		<h1><%= site_title %> Tags</h1>
		<div class="row tags">
			<% @tags.each do |tag| %>
				<div class="col-12 col-md-auto">
				  <%= link_to tag_path(tag) do %>
				  	<%= tag.name %> 
				  	(<%= tag.articles.where(status: 'Published').where(visibility: 'Public').count %>)
				  <% end %>
				</div>
			<% end %>
		</div>

		<%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
	</div>
</div>
	
