<!DOCTYPE html>
<html>
  <head>
    <title><%= site_title(yield(:page_title)) %></title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link href='<%= root_url %>' rel='canonical'>
    <%= render :partial => 'shared/seo' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
     <link rel="alternate" type="application/rss+xml"  href="<%= default_url%>/feed?format=rss">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<header>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded" data-turbolinks="false">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="<%= articles_url %>"><%= site_title %></a>

  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mt-2 mt-md-0 justify-content-end">
      <% @menupages.sort.each do |parent, children| %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= link_to parent.title.capitalize %>
        </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% for child in children %>
                <%= link_to child.menuslug.capitalize, page_path(child), :class=> "dropdown-item" %>
              <% end %>
            </div>
        </li>
      <% end %>
      <% if has_role?(:author) %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLinka" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinka">
            <%= link_to 'New Article', new_article_path, :class=> "dropdown-item" %>
            <%= link_to 'New Page', new_page_path, :class=> "dropdown-item" %>
          </div>
        </li>
      <% end %>
      <li class="nav-item">
         <%= link_to 'Read', articles_path, :class=> "nav-link #{css_class_active_for(articles_path)}" %>
      </li>
      <!-- <li class="nav-item">
        <%= link_to 'Source', 'https://github.com/dmmltech/thurman', :class=> "nav-link"  %>
      </li> -->
       <% if has_role?(:admin) %>
       <li class="nav-item">
        <%= link_to 'Admin', editorial_path, :class=> "nav-link #{css_class_active_for(editorial_path)}"  %>
      </li>
      <% end %>
      <% if has_role?(:editor) %>
       <li class="nav-item">
        <%= link_to 'Manage', editorial_path, :class=> "nav-link #{css_class_active_for(editorial_path)}"  %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>


 <div class="article-index-header">
    <div class="col-lg-8 offset-lg-2 col-sm-12">
      <%= search_form_for @q do |f| %>
        <div class="row no-gutters">
          <p class="lead">Looking for articles about...?</p>
          <div class="col-md-9 col-sm-12">
            <div class="form-group">
                <%= f.search_field :title_cont, :class=>"form-control" %>
            </div>
          </div>
          <div class="col-md-3 col-sm-12">
            <%= f.submit 'Search Articles', :class=>'btn btn-primary btn-block ' %>
          </div>
        </div>
      <% end %>
      <p class="text-center">
        Don't miss an article. Subscribe to the mailing list <%= link_to 'here', leads_path %>.
      </p>
    </div>
</div>

</header>
<!-- 

 <div class="breads">
   <div class="container">
    <%= breadcrumbs pretext: "You are here: ",
          separator: " &rsaquo; ", semantic: true %>
    </div>
</div>
 -->


    <div class="container wrapper">
        <p class="flash">
          <%= flash.notice %>
        </p>
     
        <%= yield %>
    </div>

    <footer class="footer text-center">
     <p> &copy; <%= Time.now.strftime('%Y') %>  <%= site_title %> - Built on Thurman</p>
    </footer>
    <ul class="nav justify-content-center nav-social">
      <li class="nav-item">
        <a class="nav-link active" href="<%= default_twitter_url %>"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= default_facebook_url %>"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= default_linkedin_url %>"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

     <script type="text/javascript">
      $(document).ready(function() {
         $("#tags").tagit({
            availableTags: <%=raw auto_suggestions('tags').to_json %>,
            allowSpaces: true
        });
      });

    </script>

  </body>
</html>
